body, button {
    font-family:'Courier New', Courier, monospace;
}
body {
    padding: 1em;
}
#videoSource {
    display: none;
}
h1>span {
    font-size: smaller;
    font-style: oblique;
    color: #111;
}
#asciiOutput {
    font-size: small;
}
button, input,.uploadImageClass {
    background: white;
    color: black;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 1em;
}
input[type="file"] {
    display: none;
}
#screenshotButton {
    display: none;
}